/* Add this CSS in your stylesheets or inline styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

}
.toast-message {
  background: darkblue;
  color: #fff;
  font-size: 40px;
  width: 50vw;
  padding: 10px 10px;
  align-items: center;
}


div {
  margin: 20px;
}

header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}


.form-fields {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 400px;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}


.submit-input {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-input:hover {
  background-color: #45a049;
}



/* Add more styles as needed */
/* Add this CSS in your stylesheets or inline styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.page-container {
  text-align: center;
}

.card {
  max-width: 500px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Add the rest of the styles from your original code */

