/* Center all content on the page */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  /* Style the form container */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px; /* Adjust the width based on your preference */
  }
  
  /* Style the form group (label + input) */
  .form-group {
    margin-bottom: 20px;
  }
  
  /* Style the input */
  input {
    padding: 8px;
    color: white;
    background-color: black;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  /* Style the error message */
  p {
    color: red;
    margin-top: 5px;
  }
  
  /* Style the link */
  Link {
    text-decoration: none;
    color: blue;
    margin-top: 10px;
    display: block;
  }
  
  /* Style the submit button */
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  